/* mobile & tablet */
@media(max-width:1023px) {
.hidden-on-tablet-and-mobile{
    display: none;
}
.container{
    padding-top: 40px;
  }
  .heading-info-boder {
    width: 95%;
    height: 290px;
   
}
.heading-info-avatar {
    padding: 0 0px 0 15px;
    height: 260px;
 
}
.header-info-email-list {
    font-size: 1.4rem;
    height: 30px;
}
.heading-info{
    width: 95%;

    height: 260px;
}
.contact-with-me {

    font-size: 1.4rem;
    padding: 10px 10px;

}
.contact-with-me-icon{
    font-size:  3rem;
  }
.body-info-item-title-content {
    font-size: 1.6rem;
  }
.header-info-intro {

    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 550;
    padding-top: 0px;
}


.my-name {
    font-size: 2.4rem;
    line-height: 3.2rem;

}
.nominee {

    padding: 2px 10px;
    border-radius: 50px;
    font-size: 1rem;
    top: -3px;
    left: 90px;

}

.header-info-intro {
    margin: 10px;

   
}



.header-info-objective {
    padding: 10px 20px;
    font-size: 1.2rem;
    line-height: 2rem;
}

.contact-with-me-thought-app {
    margin: 0 50px;
}
}

@media(min-width:740px) {



}

/* tableb */
@media(min-width:740px) and (max-width: 1023px) {
 
}
